@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

:root {
  --cor-fundo-modal: #1e1e1e;
  --cor-verde: #04BF55;
  --cor-branco: #FFFFFF;
}

body {
  font-family: "Montserrat", sans-serif;
}

body.modal-ativo main {
  filter: blur(2px);
  pointer-events: none;
}

body.modal-ativo {
  overflow: hidden; /* impede o usuário de rolar a página */
}

.modal {
  position: fixed;
  inset: 0;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal.ativo {
  display: flex;
}

.modal-content {
  background: var(--cor-fundo-modal);
  color: var(--cor-branco);
  border-radius: 5px;
  border: 1px solid var(--cor-branco);
  width: 280px;
  padding: 15px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: aparecer 0.3s ease;
}

.modal-content img {
  width: 120px;
  height: auto;
  border-radius: 6px;
  margin-bottom: 10px;
}

.modal-content h2 {
  color: var(--titulo-produto);
  font-size: 18px;
  margin: 10px 0 5px;
  text-align: center;
}

.modal-content p {
  font-size: 14px;
  line-height: 1.4;
  margin: 0 0 8px;
  text-align: center;
}

.modal-content h1 {
  font-size: 30px;
  font-weight: 400;
  margin-top: 10px;
  color: var(--titulo-produto);
}

.modal-content h3 {
  font-size: 14px;
  font-weight: 400;
  margin-top: 10px;
  color: var(--branco);
}

/* Botões */
.btn {
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 15px;
  transition: background 0.2s ease, color 0.2s ease;
}

.btn-fechar {
  background: none;
  border: none;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 22px;
  color: var(--branco);
}

.btn-comprar-modal {
  background-color: var(--cor-verde);
  border: none;
  color: var(--branco);
}

.btn-carrinho-modal {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  background-color: var(--cor-fundo-modal);
  border: 1px solid var(--cor-verde);
  color: var(--cor-verde);
}

.tamanho-btn {
  background-color: var(--cor-fundo-modal);
  border: 1px solid var(--cor-verde);
  border-radius: 8px;
  color: var(--branco);
  font-size: 16px;
  padding: 5px 11px;
  margin-top: 10px;
}

.mais,
.menos {
  background-color: var(--cor-verde);
  border: 1px solid var(--cor-verde);
  margin-top: 10px;
  border-radius: 4px;
  color: var(--branco);
}

#quantidade {
  display: inline-block;
  min-width: 30px;       
  text-align: center;    
  margin: 0 8px;         
  font-size: 1.2rem;     
  color: var(--branco);  
  margin-top: 10px;
}

.grupo-opcoes {
  width: 100%;
  margin-top: 10px;
}

.grupo-opcoes h3 {
  margin-bottom: 5px;
  text-align: center;
}

  .opcoes {
  display: flex;
  justify-content: center; /* centraliza os botões */
  gap: 8px;;
}

.opcoes button{
  background-color: var(--cor-fundo-modal);
  border: 1px solid var(--cor-verde);
  border-radius: 8px;
  color: var(--branco);
  font-size: 14px;
  padding: 5px 10px;
}
.grupo-botoes {
  display: flex;
  gap: 10px;
  margin-top: 15px;
  width: 100%;
  justify-content: space-between;
}

.grupo-botoes button {
  flex: 1;
  border-radius: 5px;
}

.grupo-linha {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
}


.grupo-linha .grupo-opcoes {
  flex: 1; /* cada grupo ocupa metade do espaço */
}

.tamanho-btn.selecionado {
  background-color: var(--cor-verde);
  color: var(--cor-branco);
}


@keyframes aparecer {
  from { transform: scale(0.9); opacity: 0; }
  to   { transform: scale(1);   opacity: 1; }
}
